
@import '../../base.scss';

.watchScreen_player{
height: 60vh;
background-color: #353946;
width: 100%;
margin-bottom: 2rem;
}



.videoHorizontal {
   border-bottom: 0.3px solid $border-color;

   cursor: pointer;

   &_left {
      position: relative;
      text-align: center;
      padding-left: 0 !important;
   }

   &_thumbnail {
      width: 100%;
      &-channel {
         width: 100%;
        
      }

      &-wrapper {
         width: 100%;
      }
   }


   &_duration {
      position: absolute;

      bottom: 0.8rem;
      right: 0.9rem;

      font-size: 0.9rem;
      padding: 0.2rem;
      background: #080808ec;
      border-radius: 3px;
   }

   &_details {
      font-size: 0.9rem;
   }

   &_title {
      font-size: 0.95rem;

      // color: #fff;
      letter-spacing: 0.3px;

      @include line-clam(2);
   }
   &_desc {
      @include line-clam(2);
      font-size: 0.9rem;
   }

   &_channel {
      img {
         width: 36px;
         height: 36px;

         border-radius: 50%;
         margin-right: 0.5rem;
         cursor: pointer;
      }
      p {
         font-size: 0.9rem;
         @include line-clam(1);
      }
   }
}

@media (max-width: $breakpoint-small) {
   .videoHorizontal {
      font-size: 0.8rem;

      &_details {
         @include line-clam(1);
      }
      &_channel {
         margin: 0.1rem 0;

         img {
            display: none;
         }
         p {
            font-size: 0.8rem;
         }
      }

      &_desc {
         display: none;
      }

      &_title {
         font-size: 1rem;
         @include line-clam(1);
      }
   }
}